@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body {
    background: #ffffff url(/images/1.jpg) center center/cover no-repeat;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
	min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.content {
	position: relative;
}

.content h2 {
	color: #fff;
	font-size: 3em;
	position: absolute;
	transform: translate(-50%, -20%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #6200d1;
}

.content h2:nth-child(2) {
	color: #5667ff;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

h2 {
    width: 300px;
}

p {
    color: white;
    margin-bottom: 20px;
}

.button-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 300px;
    text-align: left;
    background-color: rgb(173, 173, 173);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.gradient-border {
    --border-width: 7px;
  
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60px;
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background: #272727ce;
    border-radius: var(--border-width);
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }

.button:hover {
    background-color: #bfff2b5b;
}
.img_mode {
    max-width: 5vh;
    margin-right: 20px;
}
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}
